**/__pycache__
__pycache__/**
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git

uptime_kuma/data
/uptime_kuma/
/nextcloud/
/nextcloud/**
nextcloud/
nextcloud/**


**/node_modules
node_modules/

db/mysql
