{% extends "bases/admin_base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h4>
            <i class="fa fa-apple"></i> Productos
        </h4>
    </div>
    <div class="card-body">        
        <form action="/admin/productos" method="POST" >
            <div class="row">
                <div class="col-md-6 my-2">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" required>
                </div>
                <div class="col-md-6 my-2">
                    <label class="form-label">Descripción</label>
                    <input type="text" class="form-control" name="descripcion" required>
                </div>
                <div class="col-md-6 my-2">
                    <label class="form-label">Precio</label>
                    <input type="number" class="form-control" name="precio" required>
                </div>
                <div class="col-md-6 my-2">
                    <label class="form-label">Unidad</label>
                    <input type="text" class="form-control" name="unidad" required>
                </div>
                <div class="col-md-6 my-2">
                    <label class="form-label">Categoria</label>
                    <select class="form-select" name="categoria" required>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>            
            <div>
                <button type="submit" class="btn btn-primary" id="submitBtn">
                     <i class="fa fa-save"></i>  Guardar
                </button>
            </div>            
        </form>
        <hr>
        <h4>Listado de Productos</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>            
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.name }}</td>
                        <td>{{ producto.description }}</td>
                        <td>{{ producto.price }}</td>
                        <td>{{ producto.unit }}</td>
                        <td>{{ producto.category.name }}</td>
                        <td>
                            <a href="#" class="btn btn-warning btn-sm m-1">
                                <i class="fa fa-pencil"></i> 
                            </a>
                            <a href="/admin/productos/{{producto.id}}/eliminar" class="btn btn-danger btn-sm m-1">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% if productos|length == 0 %}
                    <tr>
                        <td colspan="5" class="text-center">No hay productos</td>
                    </tr>    
                {% endif %}
            </tbody>
        </table>
    </div>
</div>




    


{% endblock %}