{% extends "bases/inicio_base.html" %}

{% block content %}
<div class="form-container">
    <h2 class="text-center" id="formTitle">Registrarme</h2>
    <form id="registerForm">
        <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3" id="nameGroup">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="name">
        </div>

        <div class="row">
            <div class="col-md-6 my-2">
                <label class="form-label small">Contraseña</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="col-md-6 my-2">
                <label class="form-label small">Repetir Contraseña</label>
                <input type="password" class="form-control" name="password2" required>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary w-100" id="submitBtn">Guardar</button>
        <a type="button" class="btn btn-link w-100 toggle-btn" href="/">¿Ya tienes cuenta? Inicia sesión</button>
    </form>
    <div id="response" class="mt-3 text-center"></div>
</div>

<script src="/static/js/auth.js"></script>
{% endblock %}